body {
    font-family: Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aliceblue;
    max-width: 800px;
    margin: auto;
}
h1 {
    display: inline-block;
    color: cornflowerblue;
    outline: auto 10px;
    outline-color: whitesmoke;
    background-color: white;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    font-family: cursive ;
}
body p {
    text-align: left;
}
 ul, ol {
    text-align: left;
}
img {
    max-width: 800px;
    height: auto;
    padding: 15px;
}
h6{
    border: 5px solid crimson ;  
    margin: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}
strong{
    color: cornflowerblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li strong {
    color: black;  
}
h2 span {
    border-bottom-style:ridge;
    }